examples/basic_inline_flow.json
[{"id":"6a2692ecfe35a764","type":"function","z":"dd961d75822d1f62","name":"500 msec","func":"setTimeout(function() {\n    node.send(msg);\n}, 500)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2180,"wires":[["cf03a5b2ae5e30fc"]]},{"id":"d4d22ff1881bece6","type":"debug","z":"dd961d75822d1f62","name":"Chain completed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":2180,"wires":[]},{"id":"cf03a5b2ae5e30fc","type":"function","z":"dd961d75822d1f62","name":"1000 msec","func":"setTimeout(function() {\n    node.send(msg);\n}, 1000)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":2180,"wires":[["b585a6cc51b641a2"]]},{"id":"b585a6cc51b641a2","type":"function","z":"dd961d75822d1f62","name":"1500 msec","func":"setTimeout(function() {\n    node.send(msg);\n}, 1500)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":2180,"wires":[["d4d22ff1881bece6"]]},{"id":"4762ee94b7fffca4","type":"inject","z":"dd961d75822d1f62","name":"Inject message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello timer","payloadType":"str","x":160,"y":2180,"wires":[["311b7d4594437ff2"]]},{"id":"7ecd8a2fe812e517","type":"comment","z":"dd961d75822d1f62","name":"b585a6cc51b641a2","info":"","x":970,"y":2140,"wires":[]},{"id":"afabbefc4f426cb7","type":"comment","z":"dd961d75822d1f62","name":"cf03a5b2ae5e30fc","info":"","x":770,"y":2140,"wires":[]},{"id":"9a91c5c62d914412","type":"comment","z":"dd961d75822d1f62","name":"6a2692ecfe35a764","info":"","x":570,"y":2140,"wires":[]},{"id":"311b7d4594437ff2","type":"msg-time-profiler","z":"dd961d75822d1f62","inputField":"topic","outputField":"_msgtracing","profileMode":"inline","autoStart":true,"outputs":1,"name":"","x":330,"y":2180,"wires":[["6a2692ecfe35a764"]]},{"id":"1a956d1879d68a1d","type":"comment","z":"dd961d75822d1f62","name":"d4d22ff1881bece6","info":"","x":1170,"y":2140,"wires":[]},{"id":"165c0bda8a6f3411","type":"comment","z":"dd961d75822d1f62","name":"6a2692ecfe35a764","info":"","x":370,"y":2140,"wires":[]}]
