examples/timing_distribution_in_bar_and_pie_charts.json
[{"id":"1d8b715f721d6fed","type":"function","z":"f3e346780eaa6c3c","name":"Node A","func":"setTimeout(function() {\n    node.send(msg);\n}, 500)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":960,"wires":[["ce0c0139dbeeea58"]]},{"id":"ce0c0139dbeeea58","type":"function","z":"f3e346780eaa6c3c","name":"Node B","func":"setTimeout(function() {\n    node.send(msg);\n}, 1000)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":960,"wires":[["eb57c0ae575d622e"]]},{"id":"51c0e723aef7652d","type":"inject","z":"f3e346780eaa6c3c","name":"Inject message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello timer","payloadType":"str","x":260,"y":960,"wires":[["821a8a029655639f"]]},{"id":"821a8a029655639f","type":"msg-time-profiler","z":"f3e346780eaa6c3c","inputField":"topic","outputField":"_msgtracing","profileMode":"inline","autoStart":true,"outputs":1,"name":"","x":430,"y":960,"wires":[["1d8b715f721d6fed"]]},{"id":"eb57c0ae575d622e","type":"function","z":"f3e346780eaa6c3c","name":"Node C","func":"setTimeout(function() {\n    node.send(msg);\n}, 1500)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":960,"wires":[["f006a5237512fcdd"]]},{"id":"de0b0f503f12baa9","type":"comment","z":"f3e346780eaa6c3c","name":"500 msec","info":"","x":580,"y":920,"wires":[]},{"id":"b3081b851780b60f","type":"comment","z":"f3e346780eaa6c3c","name":"1000 msec","info":"","x":740,"y":920,"wires":[]},{"id":"c3b104e58cb8be4a","type":"comment","z":"f3e346780eaa6c3c","name":"1500 msec","info":"","x":900,"y":920,"wires":[]},{"id":"f006a5237512fcdd","type":"function","z":"f3e346780eaa6c3c","name":"Compose chart data","func":"if (msg._msgtracing) {\n    var chartInput = {\n        \"series\": [\"X\"],\n        \"data\": [[]],\n        \"labels\": []\n    };\n    \n    msg._msgtracing.profile.forEach(function(profileLine) {\n        chartInput.data[0].push(profileLine.duration);\n        chartInput.labels.push(profileLine.node.name);\n    });\n    \n    /*var m={\n        \"series\":[\"X\"],\n        \"data\":[[5,3,6]],\n        \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n    };*/\n    return { payload:[chartInput] };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":960,"wires":[["5bc46029163c4dad","5cb956addb4e93b7"]]},{"id":"5bc46029163c4dad","type":"ui_chart","z":"f3e346780eaa6c3c","name":"Pie chart","group":"89749fb7.87f01","order":3,"width":"7","height":"6","label":"Msg timing - Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1300,"y":960,"wires":[[]]},{"id":"5cb956addb4e93b7","type":"ui_chart","z":"f3e346780eaa6c3c","name":"Bar chart","group":"89749fb7.87f01","order":3,"width":"7","height":"6","label":"Msg timing - Bar chart","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1300,"y":1000,"wires":[[]]},{"id":"89749fb7.87f01","type":"ui_group","name":"Message Profiler","tab":"d7901f40.2659d","order":2,"disp":true,"width":"16","collapse":false,"className":""},{"id":"d7901f40.2659d","type":"ui_tab","name":"Charts","icon":"dashboard","order":40,"disabled":false,"hidden":false}]
